.search-bar-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 10px;
}

.search-bar {
	font-size: 12px;
	width: 75%;
	height: 40px;
	padding: 4px 10px;
	font-weight: normal;
	color: #23BBAC;
	outline: 0;
	border-radius: 5px;
	border: solid 1px #23BBAC;
	background: inherit;
}