body {
  margin: 0;
  font-family: system-ui;
  font-size: 14px;
	color: #23BBAC;
  background-color: #333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 1s ease-in-out;
}